.swal2-title > h3 {
    background-color: #0096C8;
    padding: 0.5rem 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.swal2-confirm{
    background-color: #0096C8 !important;
    padding: 0.5rem 2rem !important;
}
